header {
    background: dimgray;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
}

.navigation-links {
    padding: 25px 50px 75px 100px;
}

.link {
    padding: 10px 10px 10px 10px;
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color: rgb(43, 93, 219);
}

.link:active {
    color: rgb(49, 158, 114);
}

.back-to-main {
    padding: 10px 10px 10px 10px;
    color: rgb(43, 93, 219);
}

.back-to-main:visited {
    color: rgb(43, 93, 219);
}

.back-to-main:hover {
    color: rgb(225, 36, 36);
}

.back-to-main:active {
    color: rgb(49, 158, 114);
}

.container {
    font-size: 40px;
    position: relative;
    left: 10px;
    top: 80px;
}

/* ******************************************************************************************************* */

/* START: styling login-form */

.login-form {
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 30px;
    margin-bottom: 100px;
    background-color: cornflowerblue;
    height: 150px;
    width: 350px;
}

.login-form-data {
    position: relative;
    top: 10px;
}

.login-form label {
    padding: 10px 10px;
}

.login-form input {
    width: 230px;
    border: none;
}

.login-form #email {
    position: relative;
    left: 28px;
}

.login-form-actions {
    position: relative;
    top: 30px;
}

.login-form button {
    padding: 10px 20px;
    margin: 10px;
    width: 155px;
    cursor: pointer;
    border: none;
}

.login-form #login-btn {
    background-color: rgb(51, 180, 115);
}

.login-form #cancel-btn {
    background-color: rgb(200, 56, 51);
}

/* END: styling login-form */

/* ******************************************************************************************************* */

/* START: styling registration-form */

.registration-form {
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 30px;
    margin-bottom: 150px;
    background-color: rgb(51, 180, 115);
    height: 160px;
    width: 742px;
}

.registration-form-data {
    position: relative;
    top: 10px;
}

.registration-form label {
    padding: 10px 10px;
}

.registration-form input {
    width: 230px;
    border: none;
}

.registration-form #name {
    position: relative;
    left: 29px;
    margin-right: 50px;
}

.registration-form #email {
    position: relative;
    left: 66px;
}

.registration-form #password {
    margin-right: 21px;
}

.registration-form #mobile {
    position: relative;
    left: 19px;
}

.registration-form-actions {
    position: relative;
    top: 30px;
}

.registration-form button {
    padding: 10px 20px;
    margin: 10px;
    width: 350px;
    cursor: pointer;
    border: none;
}

.registration-form #register-btn {
    background-color: rgb(45, 100, 194);
}

.registration-form #cancel-btn {
    background-color: rgb(200, 56, 51);
}

/* END: styling registration-form */

/* ******************************************************************************************************* */

footer {
    text-align: center;
    padding: 3px;
    background: dimgray;
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 75px;
}