header {
    background: dimgray;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
}

.navigation-links {
    padding: 25px 50px 75px 100px;
}

.link {
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
}

.home-content {
    font-size: 48px;
    position: relative;
    left: 25px;
    top: 100px;
}

/* ******************************************************************************************************* */

/* START: styling login-form */

.login-form {
    font-size: 16px;
    color: dimgray;
    position: relative;
    left: 25px;
    top: 100px;
    background: white;
    height: 200px;
    width: 350px;
    border: 2px solid dimgray;
    border-radius: 5px;
}

.login-form-data {
    position: relative;
    padding: 8px 16px;
    /* top: 10px; */
}

.login-form-data input {
    border: 1px solid dimgray;
}

.login-form-actions {
    position: relative;
    top: 30px;
}

.login-form button {
    position: relative;
    padding: 10px 20px;
    width: 40%;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.login-form #login-btn {
    background: #04AA6D;
    border: 2px solid #04AA6D;
}

.login-form #cancel-btn {
    background: #f44336;
    border: 2px solid #f44336;
}

/* END: styling login-form */

/* ******************************************************************************************************* */

/* START: styling registration-form */

.registration-form {
    font-size: 16px;
    color: dimgray;
    position: relative;
    left: 25px;
    top: 100px;
    background: white;
    height: 200px;
    width: 742px;
    border: 2px solid dimgray;
    border-radius: 5px;
}

.registration-form-data {
    position: relative;
    padding: 8px 16px;
}

.registration-form input {
    width: 230px;
    border: 1px solid dimgray;
}

.registration-form-actions {
    position: relative;
    top: 30px;
}

.registration-form button {
    position: relative;
    padding: 10px 20px;
    width: 40%;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.registration-form #register-btn {
    background: #04AA6D;
    border: 2px solid #04AA6D;
}

.registration-form #cancel-btn {
    background: #f44336;
    border: 2px solid #f44336;
}

/* END: styling registration-form */

/* ******************************************************************************************************* */

footer {
    text-align: center;
    padding: 3px;
    background: dimgray;
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 75px;
}